.AudioStack{
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.AudioPlayer {
  min-width:15em;
  justify-content: center;
  margin-top: 1.1em;
}

.AudioPlayerSmall {
  margin-top: 1.1em;
  justify-content: center;
}

.FormattingContainer{
  flex: 1 0 auto;
}

.rowContainer{
  display:flex;
  justify-content:center;
}

.TranscriptButton {
  background:transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  font-size: .75em;
  color: #8293a2;
  z-index: 1;
}

.Container {
  display: flex;
}

.DateChangeButton{
  scale: .7;
  background-color:#8293a2;
  background-repeat: no-repeat;
  border: none;
}

audio::-webkit-media-controls-panel {
  background-color: #8293a2;
}

.SearchedTerm {
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: #8293a2;
  border-radius: 3rem;
  display:flex;
  padding-right: .5rem;
  padding-left: .5rem;

}

@property --angle {
  syntax: '<angle>';
  initial-value: 0turn;
  inherits: true;
}

:root {
	--d: 2500ms;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

.box {
  scale: .5;
	border: .35rem solid transparent;
  background-color:#8293a2;
	border-image: conic-gradient(from var(--angle), var(--c2)0.05turn, var(--c1) 0.15turn, var(--c1) 0.25turn, var(--c2) .35turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.boxbackwards {
  scale: .5;
	border: 0.35rem solid transparent;
  background-color:#8293a2;
	border-image: conic-gradient(from var(--angle), var(--c2)0.05turn, var(--c1) 0.15turn, var(--c1) 0.25turn, var(--c2).35turn) 30;
	animation: borderRotate var(--d) linear infinite reverse;
}

@keyframes borderRotate {
	to {
		--angle: 1turn;
	}
}


