.Container {
  display: flex;
}

.columnContainer{
  flex-direction:column;
  padding: .75em;
}

.rowContainer{
  display:flex;
  justify-content:center;
  z-index: 1;
}

.FormattingContainer{
  flex: 1 0 auto;
}

.CalendarButton {
  background:transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  font-size: .75em;
  color: #fffff6;
  z-index: 1;
}

.MuiDateCalendar-root{
  z-index: 1;
  text-decoration-color: black;
}

.MuiAutocomplete-root{
  width: 15em;
}

.MuiAutocomplete-root .MuiFormControl-root .MuiFormLabel-root{
  color:fffff6;
  justify-content:center;
  z-index: 1;
}

.MuiTextField-root input {
  color:#fffff6;
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
  z-index: 1;
}

.MuiAutocomplete-endAdornment{
  visibility: hidden;
}

.MuiAutocomplete-listbox{
  width:40em;
  background:#8293a2;
}

.MuiAutocomplete-option{
  margin:.1em;
  color:#8293a2;
}