/*index.js*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*App.js*/
.App {
  text-align: center;
  font-size: calc(8px + 2vmin);
  background-color: rgb(28, 25, 36);
  color: #FFFFF6;
}


/*App.js Header*/
.App-header {
  min-height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 3em;
}

.SearchBar{
  flex: 3 0 0;
}
.MuiAutocomplete-root{
  width:8em;
}

.MuiAutocomplete-root .MuiFormControl-root .MuiFormLabel-root{
  color:white;
}

.MuiTextField-root input {
  color:#FFFFF6;
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
}

.MuiAutocomplete-endAdornment{
  visibility: hidden;
}

.MuiAutocomplete-listbox{
  width:20em;
  background:#8293a2;
}

.MuiAutocomplete-option{
  margin:.1em;
  color:#FFFFF6;
}

.LogoImage {
  flex: 0 2 2;
  width: 20em;
}

.holder{
  display:flex;
  justify-content:right;
  margin:3em;
}
.DayContainer{
  flex: 3 0 auto;
  margin: .25em;
  font-size: 1em;
}
.DateContainer {
  margin-right:3em;
}
/**end App.js HeaderContainer*/

.PoemContainer {
  flex: 1 0 0;
  margin-left:5em;
}

.itemRow{
  flex-direction: row;
}

.NoteContainer {
  flex: 1 3 0;
  margin-right: 5em;
}

.Container {
  display: flex;
}

.PoemBody {
  margin-left: 5em;
}

.AuthorPoemIndexContainer {
  display: flex;
  margin-left: 10em;
}

/*Audio.js*/
.Transcript {
  font-size: .75em;
  font-style: italic;
  margin: 1em;
}

.rhap_container .rhap_additional-controls {
  display: none; 
}

.ButtonImage{
  margin-top:1.1em;
}

.DateChangeButton{
  flex: 1 1 0;
  scale: .7;
  background-color:#8293a2;
  background-repeat: no-repeat;
  border: none;
  margin-left: 4rem;
  margin-right: 4rem;
}

.PoemTitleButton{
  background:transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  font-size: 1em;
  color: #FFFFF6;
}

.AuthorButton{
  background:transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  font-size: 1em; 
  color: #FFFFF6;
  flex: 2 0 0;
  justify-content: center;
}

.PoemFormatContainer{
  flex: 8 0 auto;
}

.PoemDate{
  margin:2em;
  justify-content: left;
  align-items: left;
  flex: 1 0 auto;
}

.TranscriptButton {
  background:transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  font-size: .75em;
  color: #FFFFF6;
}

.AudioPlayerContainer{
  display: flex;
}

.AudioPlayer {
  flex: 2 0 0;
  min-width:20em;
  justify-content: center;
  margin-top: 1.1em;
}

.FormattingContainer{
  flex: 1 0 auto;
}

/*Note.js*/
.NoteText {
  font-size: .75em;
  margin: 2em;
}

/*Poem.js*/
.PoemText {
  text-align: left;
  padding-left: 2em; 
}

.ToBuy {
  font-size: .5em;
  text-decoration: none;
}

.PoemTitle {
  font-size: 1em;
}

a {
  color: #69b9ff;
  text-decoration: none;
}


/**Button*/


@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
	box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

body {
	font-family: Raleway, sans-serif;
	text-align: center;
	margin: 0;
	padding: 1rem;
	background-color: rgba(10, 12, 18, 1);
	color: #FFFFF6;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}


:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
	min-width: min(10rem, 100%);
}

.box {
  scale: .5;
	border: 0.35rem solid;
  background-color:#8293a2;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.boxbackwards {
  scale: .5;
	border: 0.35rem solid;
  background-color:#8293a2;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite reverse;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}



@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}


