/*index.js*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*App.js*/
.App {
  text-align: center;
  font-size: calc(8px + 2vmin);
  background-color: rgb(28, 25, 36);
  color: white;
}

.App-header {
  min-height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.LogoImage {
  flex: 0 2 2;
}

.Container {
  display: flex;
}

.PoemContainer {
  flex: 1 0 0;
}

.NoteContainer {
  flex: 1 3 0;
}

.holder{
  display:flex;
  justify-content:right;
  margin:3em;
}
.DateContainer{
  flex: 3 0 auto;
  margin: .25em;
  font-size: 1em;
}


/*Audio.js*/
.Transcript {
  font-size: .75em;
  font-style: italic;
  margin: 1em;
}



.DateChangeButton{
  flex: 1 1 0;
  background:transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1em;
  color: #0c4b6e;
}

.TranscriptButton {
  background:transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  color: rgb(199, 87, 87);
}

.AudioPlayerContainer{
  display: flex;
}

.AudioPlayer {
  flex: 1 1 0;
  max-height: 4em;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
}
.FormattingContainer{
  flex: 1 0 auto;
}

/*Note.js*/
.NoteText {
  font-size: .75em;
  margin: 2em;
}

/*Poem.js*/
.PoemText {
  text-align: left;
  padding-left: 3em; 
}

.ToBuy {
  font-size: .5em;
  text-decoration: none;
}

.PoemTitle {
  font-size: 1em;
}

a {
  color: #69b9ff;
  text-decoration: none;
}





/**Button*/


@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
	box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

body {
	font-family: Raleway, sans-serif;
	text-align: center;
	margin: 0;
	padding: 1rem;
	background-color: rgba(10, 12, 18, 1);
	color: white;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

p {
	margin: 0;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
	min-width: min(10rem, 100%);
  margin: 3em;
}

.box {
	font-size: 1.75em;
	border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.boxbackwards {
	font-size: 1.75em;
	border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite reverse;
}



@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}


